<div class="header">
    <div class="pure-menu pure-menu-horizontal">
        <a class="pure-menu-heading" href="{{ path('homepage') }}">Sound Gallery</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="{{ path('about') }}" class="pure-menu-link">About</a></li>
        </ul>
    </div>
</div>