{% extends 'AppBundle::base.html.twig' %}

{% block body %}
	<div>default</div>
{% endblock %}

{% block javascripts %}
	{% javascripts
		'js/default/*.js' %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}